.row {
  margin-bottom: 40px;
  transition: opacity 0.2s ease;
}

.inactive {
  opacity: 0.4;
}

.title {
  color: white;
  margin-bottom: 12px;
  font-size: 20px;
}

.items {
  display: flex;
  gap: 16px;
}